{deps, [
  {statsderl, "0.4.4",
    {git, "https://github.com/lpgauth/statsderl.git", {tag, "0.4.4"}}}
]}.

{erl_opts, [debug_info,
            report,
            verbose,
            warnings_as_errors,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_untyped_record,
            warn_unused_import]}.
