{deps, [
  {meck, "0.8.12",
    {git, "https://github.com/eproxus/meck.git", {tag, "0.8.12"}}},
  {erl_optics, "1.0.0",
    {git, "https://github.com/rkallos/erl-optics.git", {tag, "1.0.0"}}}
]}.

{erl_opts, [debug_info,
            report,
            verbose,
            warnings_as_errors,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_untyped_record,
            warn_unused_import]}.
